html {
    scroll-behavior: smooth;
  }

span {
    font-size: 2em !important;
}


.navbar-brand {
    font-size: 34px;
    font-weight: bold;
}

.hero-body > div > h1 {
    color: black;
}

.hero-body > div > h2 {
    color: black;
}

.column > figure > img {
    width: 100%;
    height: 100%;    
}

.footer {
    color: whitesmoke;
    background-color:  #829CBC;
}
.navbar-end a {
    color: black;
}

.about {
    width: auto;
    margin-left: auto;
    padding-top: 2%;
    font-size: 1.3em;
    color: black;
}
/* Styles the div that provides the hover image  and gives it a transition effect */
.hide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    color: whitesmoke;
    transition: opacity 300ms ease-in-out;
    text-align: center;
    padding-top: 3.5em;
}

.image {
    position: relative;
}
/* Style to ensure that the images quality is not lost */
img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.image:hover .hide {
    opacity: 0.8;
}

a {
    color: whitesmoke;
}

hr {
    width: 75%;
    margin-left: 3.6em;
}
.navbar.is-success .navbar-burger {
    color: black;
}

.navbar.is-success .navbar-end .navbar-item{
    color: black;
}

.navbar {
    position: relative;
}

#interests {
    padding-left: 30%;
}
.png {
    height: 100px;
    width: 100px;
}

#icons {
    padding-left: 27%;
}
#about {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-bottom: 0;
    color: white;
}

#skills {
    color: white;
}

#split {
    background-color: black;
    width: 50%;
    margin-left: 24%; 
}
.line {
    text-align: center;
}

#interests {
    text-align: center;
    margin-right: 30%;
}

#first {
    padding-bottom: 2%;
    background-color: #829CBC;
    color: whitesmoke;
}
#third {
    padding-bottom: 2%;
}

#second {
    background-color: #829CBC;
    color: whitesmoke;
}

#colour {
    color: whitesmoke;
}   
#download {
    color: black;
}

#third {
    color: black;
}

#fourth {
    padding-top: 2%;
    padding-bottom: 0;
}
i {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.fa-instagram:before {
    content: "\f16d";
    font-size: 1.15em;
}

.fa-linkedin:before {
    content: "\f0e1";
    font-size: 1.15em;
}

.fa-github:before {
    content: "\f0e1";
    font-size: 1.15em;
}

.fa-php:before {
    content: "\f457";
    font-size: 1.15em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.fa-sass:before {
    content: "\f41e";
    font-size: 1.15em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.fa-html5:before {
    content: "\f13b";
    font-size: 1.15em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.fa-css3:before {
    content: "\f13c";
    font-size: 1.15em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.subtitle {
    text-decoration: none;
}

.section a:hover {
    color: red;
}

.footer {
    font-size: 1em;
}
.navbar.is-success .navbar-end .navbar-item:hover {
    background-color: #829CBC !important;
}
/* .hero-body {
    padding-bottom: 10%;
} */
#change {
    padding-top: 0%;
}

@media only screen and (max-width: 1309px) {
    #icons {
        padding-left: 19%;
    }
}

@media only screen and (max-width: 1109px) {
    #icons {
        padding-left: 16%;
    }
}

@media only screen and (max-width: 1000px) {
    #icons {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 829px) {
    #icons {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 769px) {
    #icons {
        padding-left: 19%;
    }
}
@media only screen and (max-width: 580px) {
    #icons {
        padding-left: 15%;
    }
}
@media only screen and (max-width: 495px) {
    #interests li {
    display: inline;
}
}
@media only screen and (max-width: 451px) {
    .hide {
        padding-top: 3.5em;
    }
}
@media only screen and (max-width: 440px) {
    hr {
        margin-left: 3em;
    }
    #icons {
        padding-left: 10%;
    }
}
@media only screen and (max-width: 430px) {
    #icons {
        padding-left: 10%;
    }
}
@media only screen and (max-width: 401px) {
    .hide {
        padding-top: 2.5em;
    }
}
@media only screen and (max-width: 361px) {
    .hide {
        padding-top: 2em;
    }
}
@media only screen and (max-width: 360px) {
    #icons {
        padding-left: 7%;
    }
}